@use '~@angular/material/core/style/variables' as variables;

:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.no-photos {
  text-align: center;
}

.avatar {
  max-width: 100%;
  max-height: 100%;
}

// max-width: 2rem (padding main) + 2 * 20rem (column width) + 0.5rem (grid gap)
@media (max-width: 42.49rem) {
  :host {
    grid-template-columns: 100%;
  }
}
